/*tools*/


.picRight{

	margin-left:200px;
}

.topMargin{

	margin-top:250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.picRight800{

	margin-left:800px;
}

.picRight700{

	margin-left:750px;
}



.picRight80{

	margin-left:25px;
}

.picRight160{

	margin-left:80px;
}

.picRight120{

	margin-left:50px;
}

